.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.amount-section {
  margin-top: 30px;
}

.error-message {
  color: red;
}

.denominations-list-item {
  display: inline-block;
}

.denominations-list-item + .denominations-list-item {
  margin-left: 10px;
}

.result-block {
  border: 1px dotted green;
  padding: 15px;
}

.crunch-button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.amount-text {
  margin-left: 20px;
  width: 180px;
}

.answer-text {
  color: green;
}

table {
  margin: 0 auto;
}
thead {color:green;}
tbody {color:black;}
table, th, td {
 border: 1px solid black;
}
td, th{
 padding: 5px;
}
